---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";

const allProjects: array = await getCollection("projects");
---

<BaseLayout>
	<h1 class="text-5xl text-center font-bold">Check Out My Projects</h1>
    <div class="grid xl:grid-cols-4 md:grid-cols-3 mx-auto">
    {
        allProjects.map((project) => (
            <Card 
            title={project.data.title} 
            author={project.data.author}
            description={project.data.description}
            pubDate={project.data.pubDate}
            image={project.data.image}
            slug={project.slug}
            />
        ))
    }
    </div>
</BaseLayout>
